name: PHP Reformat

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}

    - name: Setup PHP Action
      uses: shivammathur/setup-php@2.3.0
      with:
        php-version: '7.4'
      tools: php-cs-fixer
      run: php-cs-fixer fix -v ./ --allow-risky=yes --config=./.php_cs

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Apply php-cs-fixer changes
